.top-part{

}
.top-player{

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
}
.player img{
    width: 56px;
    height: 56px;
}
.player h3{
    margin-left: 10px;
}